AWS_REGION=eu-west-3

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_ACCESS_KEY=your_access_key_optional
AWS_SECRET_KEY=your_secret_key_optional

S3_BRONZE_BUCKET=urban-pulse-paris-bronze
S3_SILVER_BUCKET=urban-pulse-paris-silver
S3_GOLD_BUCKET=urban-pulse-paris-gold
ATHENA_RESULTS_BUCKET=urban-pulse-paris-athena-results

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_FERNET_KEY=replace_with_generated_fernet_key

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_VELIB_TOPIC=velib-paris
